rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{task} {
      allow read, update, delete: if request.auth != null && resource.data.user_uid == request.auth.uid;
      allow create: if request.auth != null;
    }
  }
}